<button (click)="filterByName(name)">Filter by Name</button>
<input type="text" [(ngModel)]="name">

<button (click)="filterByAge(age)">Filter by Name</button>
<input type="number" [(ngModel)]="age">
<hr>
<input type="text" placeholder="Filter pipe" [(ngModel)]="term">

<section>
  <div class="block">
    <h2>Subscribe in method</h2>
    <ul>
      <li *ngFor="let item of dataService.persons | filterPipe:term">
        <div>Name: {{item.name}}</div>
        <div>Age: {{item.age}}</div>
      </li>
    </ul>
  </div>
  <div class="block">
    <h2>Subscribe on stream</h2>
    <ul *ngIf="people$ | async as people">
      <li *ngFor="let item of people | filterPipe:term ">
        <div>Name: {{item.name}}</div>
        <div>Age: {{item.age}}</div>
      </li>
    </ul>
  </div>
</section>





