<div>
  <button (click)="dataService.setNextValue()">Change on false</button>
  <button (click)="dataService.setNextValue1()">Change on true</button>
  <button (click)="showStreamValue()">Show value</button>
</div>

<ul>
  <li>Show strict: {{showMethodValueStrict}}</li>
  <li>Show method: {{showMethodValueStrict}}</li>
  <li>Constructor strict: {{constrGetStrictValue}}</li>
  <li>Constructor method: {{constrGetMethodValue}}</li>
  <li>Ng strict: {{ngGetStrictValue}}</li>
  <li>Ng method: {{ngGetMethodValue}}</li>
  <li>Get value strict in component html: {{dataService.stream$.getValue()}}</li>
</ul>

<div *ngIf="dataService.stream$ | async">
  First subscribe show if true
</div>

<div *ngIf="dataService.stream$ | async">
  Second subscribe show if true
</div>



<div>
  <button mat-flat-button color="primary" (click)="filterByName(name)">Filter by Name</button>
  <mat-form-field appearance="fill">
    <mat-label>Enter age</mat-label>
    <input matInput type="text" [(ngModel)]="name">
  </mat-form-field>
</div>

<div>
  <button mat-flat-button color="primary" (click)="filterByAge(age)">Filter by Age</button>
  <mat-form-field appearance="fill">
    <mat-label>Enter age</mat-label>
    <input matInput type="number" [(ngModel)]="age">
  </mat-form-field>
</div>

<hr>

<div>
  <mat-form-field appearance="fill">
    <input matInput type="text" placeholder="Filter pipe" [(ngModel)]="term">
  </mat-form-field>
</div>

<section>
  <div class="block">
    <h2>Subscribe in method</h2>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of dataService.persons | filterPipe:term">
        <div class="list-item">Name: {{item.name}}</div>
        <div>Age: {{item.age}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="block">
    <h2>Subscribe on stream</h2>
    <mat-list role="list" *ngIf="people$ | async as people">
      <mat-list-item role="listitem" *ngFor="let item of people | filterPipe:term ">
        <div class="list-item">Name: {{item.name}}</div>
        <div>Age: {{item.age}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</section>
